#tech, #cert, #proj {
  position: relative;
  overflow: hidden;
}

.particles-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#tech .container,
#cert .container,
#proj .container {
  position: relative;
  z-index: 2;
}

.pg-canvas {
  position: absolute;
  top: 0;
  left: 0;
}